aws_region       = "us-east-1"
project_name     = "shopmicro"
environment      = "stage-04"
marketplace_cidr = "0.0.0.0/0"
# Abra https://checkip.amazonaws.com/ no navegador e copie o IPv4 exibido.
# Substitua seu_ip pelo valor encontrado e mantenha o /32.
admin_cidr          = "seu_ip/32"
instance_type       = "t3.micro"
root_volume_size    = 8
db_instance_class   = "db.t4g.micro"
db_allocated_storage = 20
repository_url      = "https://github.com/d3v0psti/shopmicro.git"
repository_branch   = "develop"
# Use true somente neste stage descartável; objetos serão apagados no destroy.
force_destroy_bucket = true
